/*HelveticaNeueBold*/
@font-face {
  font-family: 'font1';
  src: url('../assets/fonts/HelveticaNeueBold/HelveticaNeueBold.eot');
  src: url('../assets/fonts/HelveticaNeueBold/HelveticaNeueBold.woff2') format('woff2'),
  url('../assets/fonts/HelveticaNeueBold/HelveticaNeue-Bold.woff') format('woff'),
  url('../assets/fonts/HelveticaNeueBold/HelveticaNeue-Bold.ttf') format('truetype'),
  url('../assets/fonts/HelveticaNeueBold/HelveticaNeue-Bold.svg#font1') format('svg'),
  url('../assets/fonts/HelveticaNeueBold/HelveticaNeueBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/*Helvetica*/
@font-face {
  font-family: 'font2';
  src: url('../assets/fonts/Helvetica/Helvetica.eot');
  src: local('☺'), url('../assets/fonts/Helvetica/Helvetica.woff') format('woff'),
  url('../assets/fonts/Helvetica/Helvetica.ttf') format('truetype'),
  url('../assets/fonts/Helvetica/Helvetica.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*Helvetica_cyr-Bold*/
@font-face {
  font-family: 'font3';
  src: url('../assets/fonts/Helvetica_cyr-Bold/Helvetica_cyr-Bold.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/Helvetica_cyr-Bold/Helvetica_cyr-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/Helvetica_cyr-Bold/Helvetica_cyr-Bold.woff') format('woff'), /* Pretty Modern Browsers */
  url('../assets/fonts/Helvetica_cyr-Bold/Helvetica_cyr-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/Helvetica_cyr-Bold/Helvetica_cyr-Bold.svg#font3') format('svg'); /* Legacy iOS */
}


//Notosans
@font-face {
  font-family: 'font4';
  src: url('../assets/fonts/NotoSans/NotoSans.eot');
  src: url('../assets/fonts/NotoSans/NotoSans.woff2') format('woff2'),
  url('../assets/fonts/NotoSans/NotoSans.woff') format('woff'),
  url('../assets/fonts/NotoSans/NotoSans.ttf') format('truetype'),
  url('../assets/fonts/NotoSans/NotoSans.svg#font4') format('svg'),
  url('../assets/fonts/NotoSans/NotoSans.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/*Museo100-Regular*/
@font-face {
  font-family: 'font5';
  src: url('../assets/fonts/Museo100-Regular/Museo100-Regular.eot');
  src: url('../assets/fonts/Museo100-Regular/Museo100-Regular.woff2') format('woff2'),
  url('../assets/fonts/Museo100-Regular/Museo100-Regular.woff') format('woff'),
  url('../assets/fonts/Museo100-Regular/Museo100-Regular.ttf') format('truetype'),
  url('../assets/fonts/Museo100-Regular/Museo100-Regular.svg#font5') format('svg'),
  url('../assets/fonts/Museo100-Regular/Museo100-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/*NotoSansGeorgian-Medium*/
@font-face {
  font-family: 'font6';
  src: url('../assets/fonts/NotoSansGeorgian-Medium/NotoSansGeorgian-Medium.eot');
  src:  url('../assets/fonts/NotoSansGeorgian-Medium/NotoSansGeorgian-Medium.woff') format('woff'),
  url('../assets/fonts/NotoSansGeorgian-Medium/NotoSansGeorgian-Medium.ttf') format('truetype'),
  url('../assets/fonts/NotoSansGeorgian-Medium/NotoSansGeorgian-Medium.svg#font6') format('svg'),
  url('../assets/fonts/NotoSansGeorgian-Medium/NotoSansGeorgian-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/*Museo300-Regular*/
@font-face {
  font-family: 'font7';
  src: url('../assets/fonts/Museo300-Regular/Museo300-Regular.eot');
  src: url('../assets/fonts/Museo300-Regular/Museo300-Regular.woff2') format('woff2'),
  url('../assets/fonts/Museo300-Regular/Museo300-Regular.woff') format('woff'),
  url('../assets/fonts/Museo300-Regular/Museo300-Regular.ttf') format('truetype'),
  url('../assets/fonts/Museo300-Regular/Museo300-Regular.svg#font7') format('svg'),
  url('../assets/fonts/Museo300-Regular/Museo300-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


/*Helvetica-Oblique*/
@font-face {
  font-family: 'font8';
  src: url('../assets/fonts/Helvetica-Oblique/Helvetica-Oblique.eot');
  src: url('../assets/fonts/Helvetica-Oblique/Helvetica-Oblique.woff2') format('woff2'),
  url('../assets/fonts/Helvetica-Oblique/Helvetica-Oblique.woff') format('woff'),
  url('../assets/fonts/Helvetica-Oblique/Helvetica-Oblique.ttf') format('truetype'),
  url('../assets/fonts/Helvetica-Oblique/Helvetica-Oblique.svg#font8') format('svg'),
  url('../assets/fonts/Helvetica-Oblique/Helvetica-Oblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/*Helvetica*/
@font-face {
  font-family: 'font9';
  src: url('../assets/fonts/Helvetica/Helvetica.eot');
  src: local('☺'), url('../assets/fonts/Helvetica/Helvetica.woff') format('woff'),
  url('../assets/fonts/Helvetica/Helvetica.ttf') format('truetype'),
  url('../assets/fonts/Helvetica/Helvetica.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
