/*FiraGO-Medium*/
@font-face {
  font-family: 'font1';
  src: url('../assets/fonts/FiraGO-Medium/FiraGO-Medium.eot');
  src: url('../assets/fonts/FiraGO-Medium/FiraGO-Medium.woff2') format('woff2'),
  url('../assets/fonts/FiraGO-Medium/FiraGO-Medium.woff') format('woff'),
  url('../assets/fonts/FiraGO-Medium/FiraGO-Medium.ttf') format('truetype'),
  url('../assets/fonts/FiraGO-Medium/FiraGO-Medium.svg#font1') format('svg'),
  url('../assets/fonts/FiraGO-Medium/FiraGO-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/*FiraGO-Regular*/
@font-face {
  font-family: 'font2';
  src: url('../assets/fonts/FiraGO-Regular/FiraGO-Regular.eot');
  src: url('../assets/fonts/FiraGO-Regular/FiraGO-Regular.woff2') format('woff2'),
  url('../assets/fonts/FiraGO-Regular/FiraGO-Regular.woff') format('woff'),
  url('../assets/fonts/FiraGO-Regular/FiraGO-Regular.ttf') format('truetype'),
  url('../assets/fonts/FiraGO-Regular/FiraGO-Regular.svg#font2') format('svg'),
  url('../assets/fonts/FiraGO-Regular/FiraGO-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/*FiraGO-Medium*/
@font-face {
  font-family: 'font3';
  src: url('../assets/fonts/FiraGO-Medium/FiraGO-Medium.eot');
  src: url('../assets/fonts/FiraGO-Medium/FiraGO-Medium.woff2') format('woff2'),
  url('../assets/fonts/FiraGO-Medium/FiraGO-Medium.woff') format('woff'),
  url('../assets/fonts/FiraGO-Medium/FiraGO-Medium.ttf') format('truetype'),
  url('../assets/fonts/FiraGO-Medium/FiraGO-Medium.svg#font3') format('svg'),
  url('../assets/fonts/FiraGO-Medium/FiraGO-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/*FiraGO-Regular*/
@font-face {
  font-family: 'font4';
  src: url('../assets/fonts/FiraGO-Regular/FiraGO-Regular.eot');
  src: url('../assets/fonts/FiraGO-Regular/FiraGO-Regular.woff2') format('woff2'),
  url('../assets/fonts/FiraGO-Regular/FiraGO-Regular.woff') format('woff'),
  url('../assets/fonts/FiraGO-Regular/FiraGO-Regular.ttf') format('truetype'),
  url('../assets/fonts/FiraGO-Regular/FiraGO-Regular.svg#font4') format('svg'),
  url('../assets/fonts/FiraGO-Regular/FiraGO-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


/*BPGNinoMediumCaps*/
@font-face {
  font-family: 'font5';
  src: url('../assets/fonts/BPGNinoMediumCaps/BPGNinoMediumCaps.eot');
  src: url('../assets/fonts/BPGNinoMediumCaps/BPGNinoMediumCaps.woff2') format('woff2'),
  url('../assets/fonts/BPGNinoMediumCaps/BPGNinoMediumCaps.woff') format('woff'),
  url('../assets/fonts/BPGNinoMediumCaps/BPGNinoMediumCaps.ttf') format('truetype'),
  url('../assets/fonts/BPGNinoMediumCaps/BPGNinoMediumCaps.svg#font5') format('svg'),
  url('../assets/fonts/BPGNinoMediumCaps/BPGNinoMediumCaps.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/*NotoSansGeorgian-Medium*/
@font-face {
  font-family: 'font6';
  src: url('../assets/fonts/NotoSansGeorgian-Medium/NotoSansGeorgian-Medium.eot');
  src:  url('../assets/fonts/NotoSansGeorgian-Medium/NotoSansGeorgian-Medium.woff') format('woff'),
  url('../assets/fonts/NotoSansGeorgian-Medium/NotoSansGeorgian-Medium.ttf') format('truetype'),
  url('../assets/fonts/NotoSansGeorgian-Medium/NotoSansGeorgian-Medium.svg#font6') format('svg'),
  url('../assets/fonts/NotoSansGeorgian-Medium/NotoSansGeorgian-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


/*BPGNinoMediumCaps*/
@font-face {
  font-family: 'font7';
  src: url('../assets/fonts/BPGNinoMediumCaps/BPGNinoMediumCaps.eot');
  src: url('../assets/fonts/BPGNinoMediumCaps/BPGNinoMediumCaps.woff2') format('woff2'),
  url('../assets/fonts/BPGNinoMediumCaps/BPGNinoMediumCaps.woff') format('woff'),
  url('../assets/fonts/BPGNinoMediumCaps/BPGNinoMediumCaps.ttf') format('truetype'),
  url('../assets/fonts/BPGNinoMediumCaps/BPGNinoMediumCaps.svg#font7') format('svg'),
  url('../assets/fonts/BPGNinoMediumCaps/BPGNinoMediumCaps.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/*FiraGO-Bold*/
@font-face {
  font-family: 'font8';
  src: url('../assets/fonts/FiraGO-Bold/FiraGO-Bold.eot');
  src: url('../assets/fonts/FiraGO-Bold/FiraGO-Bold.woff2') format('woff2'),
  url('../assets/fonts/FiraGO-Bold/FiraGO-Bold.woff') format('woff'),
  url('../assets/fonts/FiraGO-Bold/FiraGO-Bold.ttf') format('truetype'),
  url('../assets/fonts/FiraGO-Bold/FiraGO-Bold.svg#font2') format('svg'),
  url('../assets/fonts/FiraGO-Bold/FiraGO-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


/*Helvetica*/
@font-face {
  font-family: 'font9';
  src: url('../assets/fonts/Helvetica/Helvetica.eot');
  src: local('☺'), url('../assets/fonts/Helvetica/Helvetica.woff') format('woff'),
  url('../assets/fonts/Helvetica/Helvetica.ttf') format('truetype'),
  url('../assets/fonts/Helvetica/Helvetica.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
